<div class="w-4/5 bg-white p-4 rounded-md mx-auto space-y-4">
	<h4 class="text-sm font-bold uppercase">Dashboard</h4>
	<h2 class="text-xl">Hello, <%- user.firstName %></h2>
	<% if (habits.length> 0) { %>
	<p>Here's what you're working on:</p>
	<div class="mb-4">
		<% habits.forEach(h => { %>
		<div class="habit-item space-y-4">
			<p class="habit-desc">
				I want to change my habit of <span class="habit-val"><%= h.name %></span>. It gives me <span class="habit-val"><%= h.gives %></span>. But I
				can replace it with <span class="habit-val"><%= h.replacement %></span>. So I will <span class="habit-val"><%= h.change %></span> instead.
			</p>
			<div class="habit-tracker">
				<h3 class="text-lg">Weekly Tracker</h3>
				<div id="<%= h._id %>" class="flex justify-between items-center">
					<% h.weeklyStats.forEach(d => { %>
					<div class="day-item flex flex-col justify-center items-center">
						<p><%= d.date_string %></p>
						<input id='<%= d._id %>' type="checkbox" class="form-checkbox tracker-checkbox border border-2 border-gray-900 rounded-sm cursor-pointer"
						<%= d.completed ? 'checked' : '' %> />
					</div>
					<% }) %>
				</div>
			</div>
			<div class="habit-options">
				<a href="/habits/chart/<%= h._id %>" class="text-sm habit-btn bg-yellow-600 hover:bg-yellow-900">view chart</a>
				<a href="/habits/edit/<%= h._id %>" class="text-sm habit-btn bg-green-600 hover:bg-green-900">edit</a>
				<form class="inline-block" action="/habits/<%= h._id %>" method="post">
					<input type="hidden" name="_method" value="DELETE" />
					<button type="submit" class="text-sm habit-btn bg-red-600 hover:bg-red-900">delete</button>
				</form>
			</div>
		</div>

		<% }) %>
	</div>
	<% } else { %>
	<p>You haven't added any habits yet.</p>
	<% } %>
	<div class="">
		<a class="add-btn" href="/habits/add">Add a new habit</a>
	</div>
</div>
